.jc-type {
  display: inline-block;
  line-height: 20px;
  min-height: 20px;
  font-size: 14px;
}

.jc-type + .jc-type {
  margin-left: 20px;
}

.jc-type.object.closed .header,
.jc-type.object.closed .group,
.jc-type.object.closed .group > div {
  display: inline;
}

.jc-type.closed .type {
  display: inline;
}

.jc-string {
  position: relative;
  color: #4caf50;
  white-space: nowrap;
  white-space: pre-wrap;
}

.jc-string.quote:before,
.jc-string.quote:after {
  content: '"';
  color: #c78861;
}

.jc-bareString.string {
  color: #c78861;
}

.jc-string.toggle {
  white-space: normal;
  white-space: pre-wrap;
}

.jc-number {
  color: #cb6dcb;
}

.jc-bool {
  color: #e91e63;
}

.jc-function.jc-function em {
  color: #1976d2;
}

.jc-undefined {
  color: #757777;
}

.jc-null {
  color: #757777;
}
