.line {
  display: flex;
  height: 26px;
  align-items: center;
  justify-content: space-between;
  font-size: 12px;
  color: #ffffff;

  .key,
  .value,
  .type {
    display: flex;
    padding: 0 25px;
    height: 100%;
    line-height: 26px;
    text-align: left;
    border-left: 1px dashed #434554;
    box-sizing: border-box;
    margin: 0;
  }

  .key {
    border-left: none;
  }
}
.jt-key {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  white-space: nowrap;
}

.jt-type {
  &:nth-child(2n + 1) {
    background-color: #242733;
  }

  &:nth-child(2n) {
    background-color: #2d303d;
  }

  .jt-expand {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 100%;

    .jt-expand-icon {
      display: block;
      background-image: url(//qgt-style.oss-cn-hangzhou.aliyuncs.com/img/gum/jsonTree/arrow.png);
      width: 6px;
      height: 10px;
      background-size: 100%;
      margin-right: 5px;
      transition: transform 100ms ease-in-out;
      flex-shrink: 0;
    }

    .isExapnd {
      transform: rotate(90deg);
    }
  }

  @each $var
    in ('number', 'object', 'string', 'boolean', 'date', 'array', 'key')
  {
    .jt-key-#{$var} {
      display: flex;
      align-items: center;

      &:before {
        flex-shrink: 0;
        display: block;
        content: '';
        background-image: url(//qgt-style.oss-cn-hangzhou.aliyuncs.com/img/gum/jsonTree/#{$var}.png);
        background-size: 100%;
        width: 14px;
        height: 12px;
        background-repeat: no-repeat;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
}

.jt-sep {
  border-bottom: 1px dashed #434554;
}
